@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  src: url(https://fonts.google.com/specimen/Poppins);
}
:root {
  --large-text: #002d58;
  --backgroung: #0367f2;
  --nav: #000019;
  --text: #464d65;
  --section: #000a2d;
}

/* HEADER STYLING */
header {
  display: flex;
  height: 7rem;
  align-items: center;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 1rem 3rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav a {
  color: var(--nav);
  font-size: 1.07rem;
  font-weight: 500;
}
nav .p {
  color: var(--backgroung);
  font-size: 2rem;
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.menu-list li a {
  transition: color 0.5s ease-in-out;
  transition-delay: 0.2s;
}
.menu-list li a:hover {
  color: var(--backgroung);
}
.menu-toggle {
  display: none;
  pointer-events: none;
}

.toggle-button {
  position: absolute;
  top: 3rem;
  right: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--backgroung);
  border-radius: 10px;
}

/* INTRO-SECTION STYLING */
.intro-section {
  height: 80vh;
  padding: 7rem 10rem;
  background: linear-gradient(to bottom, #f8f8f8, #d3d3d3);
}

.intro-section h2 {
  font-size: 1.2rem;
  color: var(--backgroung);
  font-weight: 300;
}
.intro-section h3 {
  margin-top: 3rem;
  font-size: 3rem;
  color: var(--large-text);
}
.intro-section p {
  margin-top: 2rem;
  max-width: 600px;
  line-height: 2rem;
  color: var(--text);
}

.btn-learn {
  width: 13rem;
  height: 3rem;
  border-radius: 5px;
  color: white;
  margin-top: 1.5rem;
  box-shadow: 0px 4px 6px var(--backgroung);
  background-color: var(--backgroung);
  position: relative;
  overflow: hidden;
  z-index: 0;
  border: 1px solid var(--backgroung);
  box-shadow: none;
  z-index: 1;
  transition: color 300ms ease-in-out;
}

.btn-learn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #1561cb;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

.btn-learn:hover::before,
.btn-learn:focus::before {
  transform: scaleX(1);
}

/* ABOUT SECTION STYLING */
.About-section {
  display: flex;
  margin-top: 2rem;
  padding: 1rem 2rem;
}
.About-section img {
    border-radius: 1rem;
}
.About-section h3 {
  font-size: 2rem;
  color: var(--large-text);
}
.About-section p {
  line-height: 1.5rem;
  margin-top: 0.5rem;
  color: var(--text);
}
.About-section-text-container {
  padding: 1rem;
  height: fit-content;
  width: 90%;
  padding-left: 7rem;
}

.About-section .About-section-goals {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}
.About-section-goals .section-goals-text{
    padding: 1rem;
}
.About-section-goals .section-goals-text h3{
    margin-top: 1rem;
}


/* CONTACT INFORMATION STYLING */
.contact-information {
  padding: 1rem 8rem;
  margin-top: 2rem;
  display: flex;
  gap: 10rem;
}
.contact-information h3 {
  font-size: 2rem;
  color: var(--large-text);
}
.slack-info-container {
  padding: 2rem;
  border: 1px solid var(--large-text);
  border-radius: 10px;
}

.slack-info-container p {
  line-height: 1.5rem;
  margin-top: 0.5rem;
  color: var(--text);
}

.links-container {
  padding: 2rem;
  border: 1px solid var(--large-text);
  border-radius: 10px;
}
.links-container a {
  line-height: 1.5rem;
  margin-top: 0.5rem;
  color: var(--text);
}

/* RESPONSIVE STYLING */
@media (max-width: 1024px) {
  .intro-section {
    padding: 3rem 5rem;
  }
  .About-section {
    flex-direction: column;
  }
  .About-section img {
    margin-top: 1.5rem;
    height: auto;
  }
  .About-section-bio,
  .About-section-goals {
    text-align: center;
  }
  .About-section-bio p,
  .About-section-goals p {
    width: 65%;
    margin: 0 auto;
  }
  .About-section-text-container {
    padding: 1rem;
    width: 75%;
    margin: 0 auto;
  }
  .contact-information {
    margin-top: 2rem;
    flex-direction: column;
    gap: 2rem;
  }
}

/* TABLET STYLES */

@media (max-width: 900px) {
  /* drop down styling */
  nav {
    position: relative;
  }
  .menu-toggle {
    width: 24px;
    height: 20px;
    position: absolute;
    right: 0.7rem;
    display: none;
  }
  .menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    gap: 1.01rem;
    width: 100%;
    background-color: white;
  }
  .toggle-button {
    display: flex;
    top: 1rem;
    cursor: pointer;
  }
  #menu-toggle:checked + .toggle-button + .menu-list {
    display: flex;
  }
  /* drop down styling end */
  .menu-list ul {
    width: 100%;
    flex-direction: column;
  }

  .menu-list ul li {
    text-align: center;
  }

  .menu-list ul li a {
    padding: 0.5rem 1rem;
  }

  .menu-list.active {
    display: flex;
  }
  .intro-section {
    padding: 0.5rem 3rem;
    margin-top: -2.5rem;
    height: 80vh;
  }
  .intro-section h2 {
    margin-top: 2.3em;
    font-size: 1.3rem;
  }
  .intro-section h3{
    margin-top: 2rem;
    font-size: 2.5rem;
}
.intro-section p{
    margin-top: 1.5rem;
}
  .About-section {
    padding: 1rem;
  }
  .About-section-text-container{
    width: 90%;
  }
  .About-section .About-section-bio, .About-section-goals{
    text-align:left;
    padding: 1rem;
  }
  .About-section img{
    height: 50%;
    width: 50%;
    border-radius: 1rem;
  }
  .About-section .About-section-bio p, .About-section-goals p{
    width: 100%;
  }
  .About-section .About-section-bio h3, .About-section-goals h3{
    text-align: center;
  }

  .contact-information {
    flex-direction: column;
    padding: 1rem 4rem;
    gap: 5rem;
  }
}

/* MOBILE STYLE */

@media (max-width: 450px) {
  .toggle-button {
    top: 1rem;
  }
  body {
    width: 120%;
  }
  header {
    width: 100%;
  }
  .menu-list a {
    font-size: 0.8rem;
  }
  header {
    padding: 1rem;
  }
  nav h1 {
    font-size: 1rem;
  }
  .clock {
    width: 7.5rem;
    height: 2rem;
    margin-left: 5rem;
  }
  .clock ul {
    font-size: 0.5rem;
    gap: 7.5px;
    margin-top: 0.2rem;
  }
  .clock li {
    font-size: 0.5rem;
    font-weight: 500;
    margin: 0 auto;
  }
  #Date {
    font-size: 0.5rem;
  }

  .intro-section {
    padding: 2rem;
  }
  .intro-section h2 {
    font-size: 0.8rem;
    margin-top: 6rem;
  }
  .intro-section h3 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
  .intro-section p {
    margin-top: 0.6rem;
    line-height: 1rem;
    font-size: 0.8rem;
  }
  .btn-learn {
    width: 6.5rem;
    height: 1.5rem;
    font-size: 0.7rem;
  }

  .About-section {
    padding: 1rem;
  }
  .About-section h3 {
    font-size: 1.5rem;
  }

  .About-section-bio,
  .About-section-goals {
    text-align: center;
    width: 100%;
  }
  .About-section-bio p,
  .About-section-goals p {
    width: 100%;
    font-size: 0.8rem;
  }
  .About-section-text-container {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
  }
  .contact-information {
    padding: 1rem 4rem;
    gap: 2.5rem;
  }
  .contact-information h3 {
    font-size: 1.5rem;
  }
  .slack-info-container p {
    font-size: 0.8rem;
  }
  .links-container a {
    font-size: 0.8rem;
  }
}

@media (max-width: 350px) {
  body {
    width: 140%;
  }
  .intro-section h2 {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
}
