/*RESET */
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* VARIABLES*/
:root {
  --background: #f7fdfc;
  --BTN-BG-COLOR: #2ec4b6;
  --A-COLOR: #41c9bc;
  --INPUT-COLOR: #102a40;
  --INPUT-HOVER-COLOR: #2ec4b6;
  --Large-text: #000b0a;
  --paragragh: #737373;
}

/* GENERAL STYLES*/
body {
  justify-content: center;
  align-items: center;
  display: flex;
}
/* header styling */
header {
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: center;
  background: transparent;
  position: -webkit-sticky;
  position: absolute;
  top: 0;
  z-index: 1000;
  padding: 1rem 3rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav a {
  color: black;
  font-size: 1.07rem;
  font-weight: 500;
}
nav .p {
  color: var(--backgroung);
  font-size: 2rem;
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.menu-list li a {
  transition: color 0.5s ease-in-out;
  transition-delay: 0.2s;
}
.menu-list li a:hover {
  color: rgb(204, 228, 249);
}
.menu-toggle {
  display: none;
  pointer-events: none;
}

.toggle-button {
  position: absolute;
  top: 3rem;
  right: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
/* header stylig */
.container {
  display: flex;
  width: 1440px;
  height: 840px;
  background-color: var(--background);
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49%;
}
.Individuals {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 460px;
  height: 275px;
  margin-top: -10rem;
}
.indiviaul-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Individuals figure {
  width: 77.33px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container h1 {
  color: var(--Large-text);
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

.logo-container p {
  color: var(--paragragh);
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

/* for container styling */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  border-radius: 5px;
}
.form-container form {
  height: 679px;
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  padding-top: 3rem;
}

.form-item {
  display: flex;
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.flex {
  width: 238px;
  height: 99px;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
}

.date input {
  width: 100%;
}
.date {
  position: relative;
}
.date input[type="date"] {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: #333;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.date input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}

.calender {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  color: #a6a6a6;
  font-size: 18px;
  pointer-events: none;
}

.flex label,
.form-item2 label {
  font-weight: 600;
  line-height: 14px;
  font-size: 14px;
  margin-top: 5px;
  color: #011c34;
}

.flex input,
.form-item2 input,
.select {
  border: 1px solid #f0f0f0;
  padding: 1.3rem 0.5rem;
  border-radius: 1px;
  height: 35px;
  margin: 2px;
  transition: all 300ms ease-in-out;
}

.select {
  appearance: none; /* Hides default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:hover,
.form-item2 input:hover,
.select:hover {
  border: 1px solid var(--INPUT-HOVER-COLOR);
}
.select:focus {
  border: 1px solid var(--INPUT-HOVER-COLOR);
}

.form-item2 {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 500px;
  margin: 0 auto;
}
.form-item2 .flex {
  width: 100%;
  height: auto;
}
.eye-con,
.activity {
  position: relative;
}

.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #a6a6a6;
  font-size: 16px;
}
.ACT {
  top: 65%;
}
.eye {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  color: #a6a6a6;
  font-size: 16px;
  pointer-events: none;
}

/* btn text styling */
.btn-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.btn-text button {
  background-color: var(--BTN-BG-COLOR);
  border: none;
  border-radius: 1px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  width: 500px;
  height: 48px;
  margin: 0 auto;
  transition: all 350ms ease-in-out;
}

.btn-text button:hover {
  background-color: #29e2cc;
}

.btn-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

a {
  color: var(--A-COLOR);
  font-weight: 500;
}
.laptop-view {
  display: block;
}
.phone-view {
  display: none;
}

/* laptop styling */
@media (max-width: 1024px) {
  .arrow {
    top: 65%;
  }

  /* nav style */
  nav {
    position: relative;
  }
  .menu-toggle {
    width: 24px;
    height: 20px;
    position: absolute;
    right: 0.7rem;
    display: none;
  }
  .menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    left: 0;
    padding: 1rem 0;
    gap: 2.01rem;
    width: 100%;
    background-color: white;
  }
  .menu-list li a {
    color: black;
  }
  .toggle-button {
    display: flex;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  #menu-toggle:checked + .toggle-button + .menu-list {
    display: flex;
  }
  /* drop down styling end */
  .menu-list ul {
    width: 100%;
    flex-direction: column;
  }

  .menu-list ul li {
    text-align: center;
  }

  .menu-list ul li a {
    padding: 0.5rem 1rem;
  }

  .menu-list.active {
    display: flex;
  }
  /* nav style end */
  .container {
    margin: 0 auto;
  }
  .calender {
    top: 70%;
  }
  .form-container form {
    width: 95%;
    padding: 2.5rem 1rem;
  }
  .form-item,
  .form-item2 {
    width: 100%;
  }
  .flex {
    width: 100%;
    height: auto;
  }
  .btn-text {
    text-align: center;
  }
  .btn-text button {
    width: 100%;
  }
}

/* tablet styling */
@media (max-width: 900px) {
  .toggle-button {
    top: 0;
    left: 100%;
  }
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    gap: 1rem;
    padding: 2rem;
  }
  .logo-container {
    width: 100%;
  }
  .Individuals {
    gap: 1.5rem;
    width: 100%;
    height: auti;
    margin: 0;
  }
  .form-container {
    width: 100%;
  }
  .form-container form {
    width: 100%;
  }
}

/* mobile styling large */
@media (max-width: 500px) {
  .arrow {
    top: 70%;
  }

  .laptop-view {
    display: none;
  }
  .phone-view {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #737373;
  }
  .container {
    margin: 0 auto;
    width: 475px;
    height: 1294px;
    position: relative;
    padding: 0.9rem;
    justify-content: center;
    align-items: center;
  }
  .logo-container {
    padding: 0;
    margin-top: -5rem;
    height: 15%;
  }
  .Individuals {
    gap: 1rem;
    width: 400px;
  }
  .Individuals figure {
    padding: 0;
    margin: 0;
  }
  .Individuals figure img {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .form-container {
    width: 100%;
  }
  .form-container form {
    width: 400px;
    height: 870px;
    padding: 1.5rem 0.8rem;
    padding-bottom: 0;
  }
  .form-item {
    flex-direction: column;
    gap: 1.5rem;
  }
  .form-item2 {
    gap: 1.5rem;
  }
  .date {
    position: relative;
  }
  .date input[type="date"] {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color: #333;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .date input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  .calender {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    color: #a6a6a6;
    font-size: 18px;
    pointer-events: none;
  }

  .flex {
    flex-direction: column;
    width: 100%;
    height: 72px;
  }
  .btn-text button {
    width: 100%;
    height: 48px;
  }

  .btn-text p {
    position: absolute;
    bottom: 4.5rem;
    padding: 0 1.5rem;
  }
}
/* mobile styling mobile */
@media (max-width: 400px) {
  .laptop-view {
    display: none;
  }
  .phone-view {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #737373;
  }
  .container {
    margin: 0 auto;
    width: 375px;
    height: 1294px;
    position: relative;
    padding: 0.6rem;
    justify-content: center;
    align-items: center;
  }
  .logo-container {
    padding: 0;
    margin-top: -5rem;
    height: 15%;
  }
  .Individuals {
    gap: 1rem;
    width: 327px;
  }
  .Individuals figure {
    width: 38.67px;
    height: 40px;
    padding: 0;
    margin: 0;
  }
  .Individuals figure img {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .form-container {
    width: 100%;
  }
  .form-container form {
    width: 327px;
    height: 870px;
    padding: 1.5rem 0.8rem;
    padding-bottom: 0;
  }
  .form-item {
    flex-direction: column;
    gap: 1.5rem;
  }
  .form-item2 {
    gap: 1.5rem;
  }
  .date {
    position: relative;
  }
  .date input[type="date"] {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color: #333;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .date input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  .calender {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    color: #a6a6a6;
    font-size: 18px;
    pointer-events: none;
  }

  .flex {
    flex-direction: column;
    width: 295px;
    height: 72px;
  }
  .btn-text button {
    width: 295px;
    height: 48px;
  }

  .btn-text p {
    position: absolute;
    bottom: 4.5rem;
    padding: 0 1.5rem;
  }
}

/* mobile styling small */
@media (max-width: 350px) {
  .toggle-button .bar {
    height: 3px;
    width: 90%;
  }
  .menu-list li a {
    font-size: 0.9rem;
  }
  .container {
    width: 100%;
    padding: 0.5rem;
  }
  .logo-container {
    padding: 0;
    margin-top: -5rem;
    height: 15%;
  }
  .Individuals {
    gap: 0.8rem;
    width: 100%;
  }

  .form-container {
    width: 100%;
  }
  .form-container form {
    width: 100%;
  }
  .form-item {
    flex-direction: column;
    gap: 1rem;
  }
  .form-item2 {
    gap: 1rem;
  }

  .flex {
    width: 100%;
    height: 72px;
  }
  .btn-text button {
    width: 100%;
    height: 48px;
  }
}
